@font-face {
    font-family: "MyriadPro-Regular";
    src: url("/font/myriadPro/MyriadPro-Regular.eot");
    src: url("./font/myriadPro/MyriadPro-Regular.eot") format("embedded-opentype"),
        url("./font/myriadPro/MyriadPro-Regular.woff") format("woff"),
        url("./font/myriadPro/MyriadPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: "MyriadPro-Bold";
    src: url("./font/myriadProBold/myriadpro-bold.eot"); 
    src: url("./font/myriadProBold/myriadpro-bold.eot") format('embedded-opentype'), 
        url("./font/myriadProBold/myriadpro-bold.woff2") format('woff2'), 
        url("./font/myriadProBold/myriadpro-bold.woff") format('woff'), 
        url("./font/myriadProBold/myriadpro-bold.ttf") format('truetype'), 
        url("./font/myriadProBold/myriadpro-bold.svg") format('svg'); 
}
@font-face {
    font-family: "Arial-Regular";
    src: url("./font/arial/ArialMT.eot");
    src: url("./font/arial/ArialMT.eot") format("embedded-opentype"),
        url("./font/arial/ArialMT.woff") format("woff"),
        url("./font/arial/ArialMT.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: "Arial-Bold";
    src: url("./font/arialBold/Arial-BoldMT.eot");
    src: url("./font/arialBold/Arial-BoldMT.eot") format("embedded-opentype"),
    url("./font/arialBold/Arial-BoldMT.woff") format("woff"),
    url("./font/arialBold/Arial-BoldMT.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.myriadProRegular{
    font-family: "MyriadPro-Regular";
}
.myriadProBold {
    font-family: "MyriadPro-Bold";
}
.arialRegular {
    font-family: "Arial-Regular";
}
.arialBold {
    font-family: "Arial-Bold";
}
body {
    width: 1100px;
    margin: auto;
}
header{
    height: 135px;
    background-color: rgb(51,51,51);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.designStudios {
    font-size: 60px;
    color: rgb(255,255,255);
    height: 70px;
    margin: 30px 0 35px 71px;
}
.navigator {
    color: rgb(204,204,204);
    text-align: center;
    height: 70px;
    margin: 30px 71px 35px 0;
}
a[class="hyphen"]::before{
    content: " -- ";
    color: rgb(204,204,204);
    font-size: 16px;
    line-height: 42px;
}
a{
    text-decoration: none;
}
a[class="nav"], a[class="hyphen"]{
    color:rgb(255,255,255);
    font-size: 16px;
    line-height: 42px;
}
a[class="nav"]:hover, a[class="hyphen"]:hover {
    color:rgb(0,153,204);
}
main {
    background-color:rgb(255,255,255);
}
.heading {
    width: 960px;
    border-bottom: dotted 4px rgb(204,204,204);
    margin: 0 71px 0 71px;
}
.boxHeading{
    height: 120px;
    margin: 45px 0 40px 0;
    letter-spacing: -0.1em;
}
.ampersand {
    color: rgb(0,204,255);
}
.clean {
    color: rgb(51,51,51);
    font-size: 60px;

}
.solutions {
    color: rgb(204,204,204);
    font-size: 50px;
}
.item-text {
    font-size: 34px;
    line-height: 42px;
    color: #555555;
    border-bottom: dotted 4px rgb(204,204,204);
    width: 960px;
    height: 160px;
    margin: 30px 71px 0 71px;
    padding: 0;
    letter-spacing: -0.04em;
}
.wrapper {
    height: 402px;
    width: 960px;
    border-bottom: dotted 4px rgb(204,204,204);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 45px 70px 0 70px;
}
.blueBlock {
    width: 285px;
    height: 355px;
    text-align: center;
    background-color: rgb(0,153,255);
    color: rgb(255,255,255);
    box-shadow: 5px 5px 5px rgb(204,204,204);
}
.blockHeaden {
    height: 60px;
    margin: 20px 25px 0 25px;
    font-size: 40px;
    border-bottom: dotted 2px rgb(255,255,255);
}
.blockText {
    width: auto;
    height: 148px;
    margin: 25px 25px 0px 25px;
    font-size: 14px;
    line-height: 21px;
    hyphens: auto;
    letter-spacing: 0.01em;
}
.blockButton {
    font-size: 18px;  
    background-color: rgb(0,102,153);
    width: 234px;
    height: 42px;   
    margin: 25px 0 30px 0;
    color: rgb(255,255,255);
    box-shadow:inset 0 0 4px 1px hsl(0deg 1% 30%);
    border: 0;
}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 960px;
    height: 450px;
    border-bottom: dotted 4px rgb(204,204,204);
    margin: 0 71px 0 71px;
}
.block{
    height: 453px;
    width: 480px;
    color: rgb(102,102,102);
}
.dotter{
    height: 390px;
    border-right: dotted 4px rgb(204,204,204);
    margin: 30px 0 0 0;
}
.testimonials {
    width: 200px;
    height: 25px;
    font-size: 24px;
    line-height: 42px;
    margin: 0px 0 25px 0;
}
.itemClient{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.greyRec{
    width: 84px;
    height: 84px;
    background-color: rgb(204,204,204);
    margin-bottom: 38px;
}
.greyText{
    width: 370px;
    height: 85px;
    margin-left: 25px;
    text-align: left;
}
.quote{
 font-size: 14px;
 line-height: 21px;
 margin-bottom: 9px;
}
.nameDes{
    font-size: 14px;
    line-height: 18px;
}
a[class="global"] {
    color: rgb(0,153,255);
    font-size: 14px;
    line-height: 18px;
}
.project {
    width: 432px;
    margin: 30px 0 0 0;
}
a[class="click"] {
    color: rgb(0,153,255);
    font-size: 14px;
    line-height: 20px;
}
.yoshi {
    font-size: 20px;
    line-height: 16px;
    color: rgb(153,153,153);
    margin-bottom: 10px;
}
footer{
    height: 570px;
}
.copyright {
    width: 960px;
    margin: 20px 71px 0 71px;
    font-size: 16px;
    line-height: 16px; 
    letter-spacing: -0.04em;
    color: rgb(153,153,153)
}
